/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 61, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%;
}

/* line 64, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 1.5em;
}

/* line 7, ../sass/_type.scss */
body {
  font-family: sans-serif;
}

/* line 12, ../sass/_type.scss */
h1 {
  font-size: 2.25em;
  line-height: 1.33333em;
  margin-bottom: 0.66667em;
}

/* line 16, ../sass/_type.scss */
h2 {
  font-size: 1.5em;
  line-height: 2em;
  margin-bottom: 1em;
}

/* line 20, ../sass/_type.scss */
h3 {
  font-size: 1.3125em;
  line-height: 2.28571em;
}

/* line 23, ../sass/_type.scss */
p {
  margin-bottom: 1.5em;
}

/* line 31, ../sass/_type.scss */
.main-content a {
  color: #3f8abf;
  text-decoration: none;
}
/* line 18, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.main-content a:visited {
  color: #3ac162;
}
/* line 4, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/links/_hover-link.scss */
.main-content a:hover {
  text-decoration: underline;
}

/* line 43, ../sass/_type.scss */
h1, h2 {
  color: #346893;
}

/* line 5, ../sass/_page.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 10, ../sass/_page.scss */
body {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjAlIiByPSIxMDAiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzZDY5YjUiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYTMzNWUiLz48L3JhZGlhbEdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background: -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 100, color-stop(0%, #3d69b5), color-stop(100%, #1a335e));
  background: -webkit-radial-gradient(top, #3d69b5, #1a335e);
  background: -moz-radial-gradient(top, #3d69b5, #1a335e);
  background: -o-radial-gradient(top, #3d69b5, #1a335e);
  background: radial-gradient(top, #3d69b5, #1a335e);
}

/* line 21, ../sass/_page.scss */
.box {
  width: 250px;
  height: 250px;
  background: white;
  -webkit-transform: translateX(100px) rotate(45deg);
  -moz-transform: translateX(100px) rotate(45deg);
  -ms-transform: translateX(100px) rotate(45deg);
  transform: translateX(100px) rotate(45deg);
  -webkit-transition: all 2s ease-out;
  -webkit-transition-delay: 1s;
  -moz-transition: all 2s ease-out 1s;
  transition: all 2s ease-out 1s;
}

/* line 29, ../sass/_page.scss */
.box:hover {
  -webkit-transform: translateX(400px);
  -moz-transform: translateX(400px);
  -ms-transform: translateX(400px);
  transform: translateX(400px);
}

/* line 7, ../sass/_layout.scss */
.main-header {
  overflow: hidden;
}

@media (min-width: 769px) {
  /* line 11, ../sass/_layout.scss */
  .main-logo {
    display: inline;
    float: left;
  }
}

@media (min-width: 769px) {
  /* line 16, ../sass/_layout.scss */
  .main-nav {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    display: inline;
    float: right;
  }
  /* line 49, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/lists/_inline-block-list.scss */
  .main-nav li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* line 10, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
.container {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -120px;
}
/* line 18, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
.container .root-footer {
  height: 120px;
}

/* line 20, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
.main-footer {
  clear: both;
  position: relative;
  height: 120px;
}

@media (min-width: 769px) {
  /* line 29, ../sass/_layout.scss */
  .main-content {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    -ms-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 3em;
    -moz-column-gap: 3em;
    -ms-column-gap: 3em;
    column-gap: 3em;
    -webkit-column-rule: 1px sold #cccccc;
    -moz-column-rule: 1px sold #cccccc;
    -ms-column-rule: 1px sold #cccccc;
    column-rule: 1px sold #cccccc;
  }
}
